.txtMode {
    display: flex;
    padding-bottom: 5.5%;
}

.txtModeBtn {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.vizHint {
    font-size: 0.9em;
    font-weight: normal;
}

/* hT --> highlight Text */
.hT {
    border-radius: 8px;
    background: #C51B7D;
    color: white;
    padding: 2px;
    font-size: 0.9em;
    white-space: nowrap;
}

/* Changes made to Ant Design */
.ant-steps-item {
    margin-top: 3%;
}

.ant-steps-item-wait {
    opacity: 0.2;
}

.ant-steps-item-wait:hover {
    opacity: 0.8;
}

.ant-steps-item-tail {
    display: none;
}

#reading, #using {
    border: 1px dashed #C51B7D;
    padding: 2%;
    margin-bottom: 10px;    
}

